
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
}
h2{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    font-size: 30px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h4{
    font-size: 15px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

p{
    font-size: 15px;
    margin-top: 0px;
}

.name{
    color:indigo ;

}
.namecolor{
    color: tomato;
}

.tomato-latest{
    color: tomato;
}

.violet-work{
    color: midnightblue;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
}

section{
    height: 500px;
    padding-bottom: 150px;
}

.button1{
    text-decoration: none;
    background-color: tomato;
    font-weight: 500;
    color: white;
    padding: 10px 20px;
}

#bottom-margin-work-project{
    margin-bottom: 120px;
}
.twenty-five-percent-width{
    width: 25%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}

.twenty-five-percent-width img{
    width: 100%;
}


.shadow-box{
    box-shadow: 10px 10px 40px gray;
    height: 80%;
}


.work-inquery{
    margin-top: 150px;
    background-image: url("images/Group_33094_1.png");
    background-size: 100% 100%;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.work-inquery img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

.work-inquery img centered{
    position: absolute;
    top: 50%;
    left: 50%;
    

}


.contact-add{
    background-color: rgb(26, 25, 25);
    width: 100%;
    height: 150px;
}

.form-name{
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding-top: 20px;
}

.form-address{
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding-top: 20px;
    
}


footer{
    margin: 0px;
    padding: 0px;
    background-color:rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    height: 100px;
    width: 100%;
    color: white;
    font-weight: 400;
}
