
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
    font-size: 40px;
    font-weight: 800;
}
h2{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-size: 15px;
}

.name{
    color:indigo ;

}
.namecolor{
    color: tomato;
}

.tomato-latest{
    color: tomato;
}

.violet-work{
    color: midnightblue;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
}

section{
    height: 500px;
    padding-bottom: 150px;
}

.button1{
    text-decoration: none;
    background-color: tomato;
    font-weight: 500;
    color: white;
    padding: 10px 20px;
}

#top-margin-work-project{
    margin-bottom: 120px;
}
.twenty-five-percent-width{
    width: 25%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}

.twenty-five-percent-width img{
    width: 100%;
}


.shadow-box{
    box-shadow: 10px 10px 40px gray;
    height: 80%;
}